/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
    color: #FFF36E
}
a {
    text-decoration: none;
    transition: all 250ms ease-in
}
a:hover {
    text-decoration: underline;
}
::selection {
    background: #DD4D00
}
::-moz-selection {
    background: #DD4D00
}
/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #2B9463
}
body {
    color: #fff;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
/*
 * Backgrounds
 */

.background,
.noise,
#daytime-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed
}
.background,
#daytime-background {
    background-size: cover;
    background-position: center center;
}
.background {
    z-index: 1
}
.noise {
    background-image: url(../img/noise.png);
    z-index: 3
}
#daytime-background {
    opacity: 0;
    z-index: 2
}
.default {
    background-image: radial-gradient(circle farthest-corner at left top, #12608A 0%, #2B9463 100%);
}
.sunrise {
    background-image: linear-gradient(to top, #FFF8A8 0%, #FFB9A8 25%, #004E73 100%)
}
.morning {
    background-image: linear-gradient(to bottom right, #D8D87E 0%, #00A3EF 100%)
}
.noon {
    background-image: linear-gradient(to bottom, #D8D87E 0%, #00A3EF 100%)
}
.afternoon {
    transition: all 250ms ease-in;
    background-image: linear-gradient(to bottom left, #D8D87E 0%, #00A3EF 100%)
}
.sunset {
    background-image: linear-gradient(to top, #FF8A8A 0%, #5CAED5 50%, #4269E4 100%)
}
.evening {
    background-image: linear-gradient(to top, #2B3933 0%, #051E59 100%)
}
.midnight {
    background-image: linear-gradient(to top, #04050A 0%, #001847 100%)
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    position: absolute;
    z-index: 4
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top
}
.cover-container {
    margin-right: auto;
    margin-left: auto
}
/* Padding for spacing */

.inner {
    padding: 30px
}
#homeTownMessages {
    visibility: hidden;
}
/*
 * Content
 */

.cover-heading {
    font-family: 'Indie Flower', cursive;
    font-weight: 700
}
.project-img {
    margin-right: 10px
}
a.list-group-item,
a.list-group-item:hover,
a.list-group-item:focus {
    background: none;
    color: #FFF
}
a.list-group-item .list-group-item-heading {
    transition: all 250ms ease-in;
    color: #FFF36E
}
a.list-group-item:hover .list-group-item-heading,
a.list-group-item:focus .list-group-item-heading {
    text-decoration: underline;
}
/*
 * Footer
 */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5)
}
/*
 * Affix and center
 */


@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px
    }
}