/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
    color: #FFF36E
}
a {
    text-decoration: none;
    transition: all 250ms ease-in
}
a:hover {
    text-decoration: underline;
}
::selection {
    background: #DD4D00
}
::-moz-selection {
    background: #DD4D00
}
/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #DDD
}
body {
    color: #FFF;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
/*
 * Backgrounds
 */

.background,
#stars,
.noise,
#daytimeBackground {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed
}
.background,
#daytimeBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.background {
    z-index: 1
}
#stars {
    background-image: url(../img/stars.png);
    z-index: 3;
    display: none
}
.noise {
    background-image: url(../img/noise.png);
    z-index: 4
}
#daytimeBackground {
    z-index: 2
}
.default {
    /*background-image: radial-gradient(circle farthest-corner at left top, #12608A 0%, #2B9463 100%);*/
    /*background-color: #12608A;*/
}
.presunrise {
    background-image: linear-gradient(to bottom,#00010a 0,#0e4061 55%,#7b847f 77%,#FF7045 98%,#FF4A2D 100%)
}
.sunrise {
    background-image: linear-gradient(to bottom,#407fab 0,#83a6c2 21%,#c7ccd2 43%,#FFEBBE 85%,#FFC297 100%)
}
.morning {
    background-image: linear-gradient(24deg,#8689a8 0,#E7DDC5 4%,#ebeef3 24%,#C7CDFF 84%,#8D98FF 100%)
}
.prenoon {
    background-image: linear-gradient(130deg,#f7f8c4 0,#add3f7 40%,#4CB7FF 100%)
}
.noon {
    background-image: linear-gradient(180deg,#f7f8c4 0,#add3f7 40%,#4CB7FF 100%)
}
.afternoon {
    background-image: linear-gradient(220deg,#f7f8c4 0,#add3f7 40%,#4CB7FF 100%)
}
.presunset {
    background-image: linear-gradient(290deg,#f7f8c4 0,#add3f7 40%,#4CB7FF 100%)
}
.sunset {
    background-image: linear-gradient(172deg,#082C53 0%,#58799a 43%,#acb5ba 64%,#dacbae 85%,#EDB68F 100%)
}
.aftersunset {
    background-image: linear-gradient(to bottom,#00010a 0,#0e4061 55%,#7b847f 77%,#D43F3F 98%,#D53939 100%)
}
.evening {
    background-image: linear-gradient(to bottom,#00010a 0,#0e4061 100%)
}
.midnight {
    background-image: linear-gradient(to bottom,#0e4061 0,#00010a 100%)
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    position: absolute;
    z-index: 4
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto
}
/* Padding for spacing */

.inner {
    padding: 0 30px 30px
}
#homeTownMessages {
}
/*
 * Content
 */

.cover-heading {
    font-family: 'Indie Flower', cursive;
    font-weight: 700
}
.project-img {
    margin-right: 10px
}
a.list-group-item,
a.list-group-item:hover,
a.list-group-item:focus {
    background: none;
    color: #FFF
}
a.list-group-item .list-group-item-heading {
    transition: all 250ms ease-in;
    color: #FFF36E
}
a.list-group-item:hover .list-group-item-heading,
a.list-group-item:focus .list-group-item-heading {
    text-decoration: underline;
}
/*
 * Footer
 */

.mastfoot {
    color: #ddd;
}
/*
 * Affix and center
 */


@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px
    }
}

#daytimeBackground,
#textHello,
#textIntro,
#textBackground,
#projects,
#footer {
  opacity: 0
}

/*
 * Dark theme
 */
body.dark,
.dark .mastfoot,
.dark a.list-group-item,
.dark a.list-group-item:hover,
.dark a.list-group-item:focus {
    color: #2F3849
}
.dark a,
.dark a:focus,
.dark a:hover,
.dark a.list-group-item .list-group-item-heading {
    color: #DD4D00
}
