* { margin: 0; padding: 0; }
html {
	background: url('../images/bg1376.jpg') no-repeat center 0% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media screen and (max-width: 2880px) {
	html { background-image: url('../images/bg2800.jpg'); }
}
@media screen and (max-width: 1920px) {
	html { background-image: url('../images/bg1920.jpg');  }
}
@media screen and (max-width: 1600px) {
	html { background-image: url('../images/bg1600.jpg');  }
}
@media screen and (max-width: 1376px) {
	html { background-image: url('../images/bg1376.jpg'); }
}
@media screen and (max-width: 1024px) {
	html { background-image: url('../images/bg800.jpg'); }
}
@media screen and (max-width: 480px) {
	html { background: url('../images/bg480t.jpg') no-repeat center 70% fixed; }
}